<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!-- 控制台显示 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <layout>
            <pattern>[%p]%d-%msg%n</pattern>
        </layout>
    </appender>
   
    <!-- 按天和大小显示 -->
    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- <file>mylog.txt</file> -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>maven/mylog-%d{yyyy-MM-dd}.%i.txt</fileNamePattern>         
            <maxFileSize>100KB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>
    
    <root level="error">
        <appender-ref ref="console" />
        <appender-ref ref="ROLLING" />
    </root>
</configuration>